/*this is my main stylesheet*/
/*
colors:

cool greys
fonts:
dark navy grey: #0E1722
light dark navy grey: #3E454E

warm greys
fonts:
dark warm grey: #424242
meddark warm grey: #808080
backgrounds:
light warm grey: #bdb9ba
lightest warm grey: #D2CECF

bright blue: #3D65AA

*/
/**************************************************************************************/
/*imports*/
@font-face{
	font-family: encodeLight;
	src: url(../font/Encode_Sans_Condensed/EncodeSansCondensed-Light.ttf);
}
@font-face{
	font-family: encodeSemiBold;
	src: url(../font/Encode_Sans_Condensed/EncodeSansCondensed-SemiBold.ttf);
}
/*media queries*/
@media only screen and (max-width: 768px){
	/*condensed menu formatting*/
	.condensed-menu{
		display: block;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.condensed-menu.active #menuIcon{
		opacity:0;
		display: block;
		top: 0;
		left: 0;
		z-index: 10;
	}
	#menuIcon{
		font-size:200px;
	}
	.navbar{
		display:flex;
	}
	.nav-menu{
		position:fixed;
		top: -200%;
		gap: 0;
		flex-direction: column;
		background-color: #D2CECF;
		width: 100%;
		text-align: right;
		transition: 0.3s;
	}
	.nav-item{
		margin: 1% 0;
	}
	.nav-menu.active{
		top: 0;
	}
	/*listings formatting*/
	.page-body #properties-area{
		width:100%;
	}
}
/*general start*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: encodeLight;
}
header{
}
body {
	width:100%;
}
h1 {
  	font-family: encodeSemiBold;
  	font-size: 50px;
	color: #0E1722;
}
h2{
	font-size: 30px;
	color: #0E1722;
}
h3{
	font-size:25px;
	color: #0E1722;
}
a{
	text-decoration:none;
	font-size: 20px;
	color: #0E1722;
}
a:hover{
	color:#3E454E;
}
p{
	font-size: 20px;
	color: #0E1722;
}
ul {
    list-style-type: none;
    list-style-image: none;
}
li {
    display: inline;
}
form {
	display: flex;
	justify-content: center;
	align-items:center;
}
/*general end*/

/**************************************************************************************/

/*header start*/
.pre-header{
	clear: both;
	top:0;
	position: fixed;
	background-color:#fff;
	height: 30px;
	width: 100%;
	z-index:10;
}
.contact-info a{
	padding-right:2%;
}
#pre-header-name{
	font-family: encodeSemiBold;
	padding-left: 1rem;
}
/*pre header menu start*/
.menu-area{
	width:100%;
	background-color: #D2CECF;
	height:40px;
	text-align: right;
	padding: 0.1rem 1rem 0 0;
	flex-grow:1;
	overflow:hidden;
	clear:both;
	top: 30px;
	position: absolute;
}
.navbar{
}
.menu-area a{
	text-decoration: none;
	color: #424242;
	text-transform: uppercase;
	font-size:20px;
	position:relative;
	padding-left: 2%;
	transition: 0.7s ease;
	z-index: 5;
	vertical-align: center;
}
.menu-area a:hover{
	color: #808080;
}
.menu-area a.active{
	color: #808080;
}
.condensed-menu{
	display: none;
	cursor: pointer;
}
#menuIcon{
	display: block;
	width: 25px;
	padding:1%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*pre header menu end*/
/*pre header end*/

/**************************************************************************************/

/*footer start*/
.footer{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding-left:5%;
	padding-right:5%;
	background-color: #fff;
}
.contact-section a{
	position:relative;
	padding:1%;
}
.social-icons a{
	font-size: 30px;
	padding-right: 1%;
	color: #3D65AA;
}
/*footer end*/

/**************************************************************************************/

/*home start*/
.main-page-header{
	background-image: url(../images/matt-wang-unsplash-narrow2.png);
	background-size:1500px;
	background-position:center;
	background-color: #cac6ca;
	height: 300px;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 20px 20px -15px #8D8A8E;
	overflow: hidden;
	text-shadow: 1px 1px 5px #8D8A8E;
	clear:both;
	margin-top: 60px;
}
/*head shot*/
.image-1-area{
	padding: 0 2% 0 2%;
	align-self:center;
}
.my-image-1{
	box-shadow: 0 0 2px 1px #8D8A8E;
}
/*site visual title*/
.title-slogan-area{
	position:relative;
	top: 2rem;
}
.title-area{
	padding:0;
}
.slogan-area{
	padding:0;
	position:relative;
}
/*search area formatting start*/
/* search bar*/
.home-search .search-and-click{
	font-size: 25px;
	padding-top:3%;
}
.home-search #search-form{
	justify-content: center;
}
.home-search #mls-search {
	all:unset;
	border: none;
	padding:1%;
	margin: 1%;
	background-color: #D2CECF;
	border-radius:25px;
	width:50%;
}
.home-search #mls-search:focus{
	border:none;
	background-color: #bdb9ba;
}
.home-search ::placeholder{
}
/* search button*/
#mls-search-btn{
	all:unset;
	border: none;
	padding:0.1%;
	margin: 0.1%;
	font-size:150%;
	color: #D2CECF;
}
#mls-search-btn:hover{
	color: #bdb9ba;
}
/*search area formatting end*/
/*search area formatting end*/

/*listings formatting start*/
.page-body #properties-area{
	width: 100%;
	display: inline-grid;
	gap: 50px;
	grid-template-columns: 1fr 1fr 1fr;
	overflow:hidden;
}
/*home - mls*/
#mls-property-area{
	width:100%;
	display: flex;
	flex-direction:column;
	justify-content: stretch;
	align-items:center;
}
#mls-property-area .property-box{
}
/*listings formatting end*/

/*home end*/

/**************************************************************************************/

/*index start*/
.page-title{
	padding-top: 2%;
	padding-bottom: 2%;
	width: fit-content;
}
.page-body{
	position:relative;
	padding:1%;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

/*listings formatting start*/
/*index - multiple properties*/
.page-body #properties-area{
	width:100%;
	display: inline-grid;
	gap: 5%;
	grid-template-columns: 1fr 1fr 1fr;
}
/*listings formatting end*/
/*index end*/

/**************************************************************************************/



