/*this is my main stylesheet*/
/*
colors:

cool greys
fonts:
dark navy grey: #0E1722
light dark navy grey: #3E454E

warm greys
fonts:
dark warm grey: #424242
meddark warm grey: #808080
backgrounds:
light warm grey: #bdb9ba
lightest warm grey: #D2CECF

bright blue: #3D65AA

*/
/**************************************************************************************/
/*imports*/
@font-face{
	font-family: encodeLight;
	src: url(../font/Encode_Sans_Condensed/EncodeSansCondensed-Light.ttf);
}
@font-face{
	font-family: encodeSemiBold;
	src: url(../font/Encode_Sans_Condensed/EncodeSansCondensed-SemiBold.ttf);
}

/*general start*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: encodeLight;
}
body {
	width:100%;
}
h1 {
  	font-family: encodeSemiBold;
  	font-size: 2.5em;
	color: #0E1722;
}
h2{
	font-size: 1.5em;
	color: #0E1722;
}
h3{ 
	font-size:1.2em;
	color: #0E1722;
}
h4{
	font-size: 1em;
}
a{
	text-decoration:none;
	font-size: 1em;
	color: #0E1722;
}
a:hover{
	color:#3E454E;
}
p{
	font-size: 1em;
	color: #0E1722;
}
ul {
    list-style-type: none;
    list-style-image: none;
}
li {
    display: inline;
}
form {
	display: flex;
	justify-content: center;
	align-items:center;
}
/*general end*/

/**************************************************************************************/

/*header start*/
.pre-header{
	height: fit-content;
	background-color:#fff;
	width: 100%;
	top:0;
	position: fixed;
	z-index:9;
}
.contact-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:flex-start;
}
.contact-info a {
	padding: 1% 1% 1% 3%;
}
#pre-header-name{
	font-family: encodeSemiBold;
}
/*menu start*/
.menu-area{
	width: 100%;
	height: fit-content;
	background-color: #D2CECF;
	margin-top: 82px;
}
.nav-menu{
	display: flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
}
.nav-item{
	padding: 0.5%;
	margin: 0.5%;
}
.nav-item a{
	text-decoration: none;
	color: #424242;
	text-transform: uppercase;
	font-size:1.2em;
	z-index: 5;
	white-space: nowrap;
}
.nav-item a:hover{
	color: #808080;
	transition: 0.7s ease;
}
.nav-item a.active{
	color: #808080;
	transition: 0.7s ease;
}
.hamburger{
	display: block;
	right: 0;
}
.on li{
	color: #808080;
	font-weight: bolder;
}
/*menu end*/
/*pre header end*/

/**************************************************************************************/

/*footer start*/
.footer{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction: column;
	padding-left:5%;
	padding-right:5%;
	background-color: #fff;
	text-align: center;
}
.footer-left, .footer-middle, .footer-right{
	padding: 1% 1% 3% 1%;
}
.social-icons a{
	font-size: 30px;
	padding-right: 1%;
	color: #3D65AA;
}
.site-navigation{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
/*footer end*/

/**************************************************************************************/

/*home start*/
.main-page-header{
	background-image: url(../images/matt-wang-unsplash-whitewash.png);
	background-size:auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #cac6ca;
	height: 300px;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 20px 20px -15px #8D8A8E;
	overflow: hidden;
	clear:both;
}
/*head shot*/
.image-1-area{
	visibility: hidden;
	width: 0;
	height: 0;
}
.my-image-1{
	visibility: hidden;
}
/*site visual title*/
.title-slogan-area{
	width: 100%;
	position:relative;
	padding-left: 1%;
	margin: auto;
}
.title-area{
	padding:0;
}
.slogan-area{
	padding:0;
	position:relative;
}

/*home end*/

/**************************************************************************************/

/*index start*/
.page-title{
	padding-bottom: 2%;
	width: fit-content;
}
.page-body{
	padding:3% 1% 1% 1%;
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	clear:both;
}
.page-content{
	width: 80%;
	margin: auto;
}
/*index end*/

/**************************************************************************************/

/*listings start*/
.page-body #properties-area{
	width:95%;
	align-self: center;
	display: inline-grid;
	grid-template-columns: 1fr;
}
.property-box{
	border: none;
	padding: 3%;
	margin: 3%;
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
}
.property-pic{
	align-self: center;
	width: 80%;
	height: auto;
	font-size: 6em;
	text-align: center;
}
.property-details{
	padding: 1%;
}
.property-subdetails{
	width: 70%;
	padding: 1%;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr;
}
.com-property-subdetails{
	width: 100%;
	padding: 1%;
	display: inline-grid;
	grid-template-columns: 1fr 3fr 1fr 3fr;
}

/*pagination */
#pagination{
	width: 80%;
	justify-content: center;
	clear:both;
	display: flex;
	flex-direction:row;
	margin: auto;
	flex-wrap: wrap;
}
.pageBtn{
	border: none;
	background: none;
	font-size: 1em;
	padding: 0.5%;
}
.pageBtn:hover, .pageBtn:focus{
	color: #3D65AA;
	cursor: pointer;
}
button[value="on"]{
	color: #3D65AA;
	text-decoration: underline;
	font-weight: bold;
}
/*listings end*/
/*********************************************************/
/*media queries*/
@media (min-width: 700px){
	h1{
		font-size: 3.5em;
	}
	/*preheader*/
	.pre-header{
		flex-direction: row;
		text-align: left;
	}
	.contact-info{
		flex-direction: row;
		justify-content:left;
	}
	/* menu */
	.menu-area{
		margin-top: 35px;
	}
	.hamburger{
		visibility: hidden;
		height: 0;
	}
	.nav-menu{
		flex-direction: row;
		justify-content: flex-end;
	}
	/*header*/
	.main-page-header{
		height: 300px;
		text-shadow: 1px 1px 5px #8D8A8E;
	}
	.title-slogan-area{
		padding-top: 2em;
		margin: 0;
	}
	/*headshot*/
	.image-1-area{
		visibility: visible;
		align-self:center;
		width: 185px;
		height: 250px;
		margin: 0 2% 0 2%;
	}
	.my-image-1{
		visibility: visible;
		box-shadow: 0 0 2px 1px #8D8A8E;
		width: 100%;
	}
	/* listings*/
	.page-body #properties-area{
		grid-template-columns: 1fr 1fr;
	}
	.property-pic{
		width: 3em;
		height: 2em;
	}
	/*pagination*/
	#pagination{
		width: 50%;
	}
	/*footer*/
	.footer{
		flex-direction: row;
	}
}
@media (min-width: 1000px){
	/*header*/
	.main-page-header{
		background-size: 100% auto;
	}
	/* listings*/
	.page-body #properties-area{
		grid-template-columns: 1fr 1fr 1fr;
	}
}