/*this is my main stylesheet*/
/*
colors:

cool greys
fonts:
dark navy grey: #0E1722
light dark navy grey: #3E454E

warm greys
fonts:
dark warm grey: #424242
meddark warm grey: #808080
backgrounds:
light warm grey: #bdb9ba
lightest warm grey: #D2CECF

bright blue: #3D65AA

*/
/**************************************************************************************/
/*imports*/
@font-face{
	font-family: encodeLight;
	src: url(../font/Encode_Sans_Condensed/EncodeSansCondensed-Light.ttf);
}
@font-face{
	font-family: encodeSemiBold;
	src: url(../font/Encode_Sans_Condensed/EncodeSansCondensed-SemiBold.ttf);
}

/*general start*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: encodeLight;
}
body {
	width:100%;
}
h1 {
  	font-family: encodeSemiBold;
  	font-size: 2.5em;
	color: #0E1722;
}
h2{
	font-family: encodeSemiBold;
	font-size: 2em;
	color: #0E1722;
}
h3{ 
	font-size:1.5em;
	color: #0E1722;
}
h4{
	font-size: 1.3em;
}
a{
	text-decoration:none;
	font-size: 1em;
	color: #0E1722;
}
a:hover{
	color:#2e5486;
	font-weight: bold;
	transition: 0.7s ease;
}
p{
	font-size: 1em;
	color: #0E1722;
}
ul {
    list-style-type: none;
    list-style-image: none;
}
li {
    display: inline;
}
form {
	display: flex;
	justify-content: center;
	align-items:center;
}
/*general end*/

/**************************************************************************************/

/*header start*/
.pre-header{
	height: fit-content;
	background-color:#fff;
	width: 100%;
	top:0;
	position: fixed;
	z-index:9;
}
.contact-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
#pre-header-name{
	font-family: encodeSemiBold;
}
/*menu start*/
.menu-area{
	width: 100%;
	height: fit-content;
	/*background-color: #D2CECF;*/
	background-color: rgb(255,255,255,0);
	background-image: url(../images/matt-wang-unsplash-top.png);
	background-size:cover;
	margin-top: 65px;
}
div.nav-menu > div > ul{
	display: none;
}
section.menu-area > nav > div.nav-menu.active > div > ul{
	display: flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
}
div.nav-menu.active > div > ul > li{
	background-color: #d2dadf;
}
.page-item{
	padding: 0.5%;
	margin: 0.5%;
}
section.menu-area > nav > div.nav-menu > div > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
	font-size:1.2em;
	z-index: 5;
	white-space: nowrap;
}
.hamburger{
	display: block;
	right: 0;
	padding: 1%;
	cursor: pointer;
}
.hamburger :hover{
	color: #3E454E;
}
.hide{
	display: none;
}
.nav-menu > .menu > .current_page_item > a{
	font-weight: bolder;
}
/*menu end*/
/*pre header end*/
/*index header start*/
.index-header{
	background-image: url(../images/matt-wang-unsplash-narrow3.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #cac6ca;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 20px 20px -15px #8D8A8E;
	overflow: hidden;
	clear:both;
}
/*index headerend*/

/*search bar start*/
.search-bar-form{
	margin-bottom: 20px;
}
.search-bar-input{
	width: fit-content;
	padding: 1em;
	border-radius: 25px;
	font-size: 0.88em;
}
.search-bar-input:focus{
	border-color: #2e5486;
}
.search-bar-btn{
	border-style: none;
	background-color: #fff;
	font-size: 1.5em;
	margin-left: 0.25em;
	padding-bottom: 0.02em;
}
.search-bar-btn:hover{
	color: #2e5486;
}
/*search bar end*/


/**************************************************************************************/

/*footer start*/
.footer{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction: column;
	padding-left:5%;
	padding-right:5%;
	background-color: #fff;
	text-align: center;
}
.footer-left, .footer-middle, .footer-right{
	padding: 1% 1% 3% 1%;
}
.social-icons a{
	font-size: 30px;
	padding-right: 1%;
	color: #3D65AA;
}
.contact-section, .site-navigation > div > ul{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
/*footer end*/

/**************************************************************************************/

/*index start*/
.page-title{
	padding-bottom: 2%;
	width: fit-content;
}
.page-body{
	padding:1%;
	width: 90%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	clear:both;
	margin: auto;
}
.page-content{
	width: 100%;
	margin: auto;
}
/*index end*/

/*********************************************************/

/*media queries*/
@media (min-width: 730px){
	h1{
		font-size: 3.5em;
	}
	/*preheader*/
	.pre-header{
		flex-direction: row;
		text-align: left;
	}
	.contact-info{
		flex-direction: row;
		justify-content:left;
	}
	.contact-info a {
		padding: 0.5em 0.5em 0.5em 1em;
	}
	/* menu */
	.menu-area{
		margin-top: 35px;
	}
	.hamburger{
		visibility: hidden;
		height: 0;
	}
	div.nav-menu > div > ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	div.nav-menu > div > ul > li{
		padding: 0.5em;
	}
	
	/*footer*/
	.footer{
		flex-direction: row;
	}
	.page-body{
		width: 75%;
	}
}
@media (min-width: 930px){
/*search bar*/
.search-bar-input{
	width: 20%;
}
}